body {  
    background-color: #ffffff;
    font-family: Arial, sans-serif, Helvetica;
}

header {
    border-bottom: 2px solid #efe7eb;
    background-color: #fff;
    padding: 20px;
    
}

header .brand {        /* nur vorübergehend, in Phase 2 offiziell bereinigt */ 
    font-family: 'Impact', Impact, monospace;
    font-size: 35pt;
   
}

#works img, #about img, #foto img {       /* nur vorübergehend, da sonst aktuell zu große Bilder, in Phase 2 offiziell bereinigt */  
    width: 450px;
    height: auto;
}


footer {
    background-color: #4C5454; 
    padding: 20px;
    border-top: 1px solid #000;
}
