body {  
    background-color: #ffffff;
    font-family: Arial, sans-serif, Helvetica;
}

.site-header {
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 20px;
    
}

header .brand {        /* nur vorübergehend, in Phase 2 offiziell bereinigt */ 
    font-family: 'Impact', Impact, monospace;
    font-size: 35pt;
   
}

#works img, #about img, #foto img {       /* nur vorübergehend, da sonst aktuell zu große Bilder, in Phase 2 offiziell bereinigt */  
    width: 450px;
    height: auto;
}


.site-footer {
    background-color: #4C5454;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000;
}
